
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> WELCOME TO KHOAPHAM.EJS, from 
        <span style="color:red">views/chitiet.ejs</span>
    </h1>
    <h2> Name : <%= hoten %> </h2>
</body>
</html>